language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm

install:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev --no-interaction

script:
  - mkdir -p build/logs
  - mkdir -p tmp
  - php vendor/bin/phpunit --exclude-group internet

after_success:
  - travis_retry php vendor/bin/coveralls
